<main class="overflow-hidden">
  <div class="banner-about">
    <img class="w-100" src="/images/banner.png" alt="" />
  </div>
  <div class="container mt-5">
    <h2 class="text-uppercase text-center text-success">Giới thiệu các loại sách</h2>
    <div class="text-center banner-about">
      <img src="/images/logos/logo_3.jpg" alt="" />
    </div>
    <div
      class="content border border-dark-subtle rounded-3 bg-white p-5 mt-5"
    >
      <div class="row">
        <h4 class="text-uppercase text-success mb-3">Sách tiểu thuyết ngắn</h4>
        <p>
          Sách tiểu thuyết ngắn là dạng sách văn học tập trung vào việc kể chuyện trong một phạm vi ngắn gọn. Chúng thường mang lại trải nghiệm đọc hấp dẫn và nhanh chóng cho độc giả.
        </p>
      </div>
      <div class="row">
        <h4 class="text-uppercase text-success mb-3">Sách tâm lý</h4>
        <p>
          Sách tâm lý là những tài liệu hoặc tác phẩm văn học tập trung vào việc hiểu về tâm trí, tâm lý con người và các vấn đề liên quan đến tâm lý học và tâm lý học ứng dụng.
        </p>
      </div>
      <div class="row">
        <h4 class="text-uppercase text-success mb-3">Sách chữa lành</h4>
        <p>
          Sách chữa lành thường tập trung vào việc cung cấp thông tin và hướng dẫn về cách cải thiện sức khỏe và trạng thái tinh thần, giúp độc giả có thể tự chữa lành hoặc duy trì sức khỏe tốt.
        </p>
      </div>
      <div class="row">
        <strong class="mb-2">Đăng ký nhận thông tin sách mới</strong>
        <form action="">
            <input class="border-success-subtle" type="email" name="" id="" placeholder="Nhập địa chỉ email">
            <input class="btn btn-success " type="button" value="Gửi">
        </form>
      </div>
    </div>
  </div>
</main>
