<main class="overflow-hidden">
  <div class="de-bg w-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="fs-1">Sách</h2>
          <span>Chia sẻ - Kiến thức</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Nội dung-->
  <div class="container mt-5">
    <div class="row content">
      <div class="col-sm-3">
        <div class="list-group rounded-3">
          <p
            href="#"
            class="list-group-item list-group-item-action title-ctgr"
            aria-current="true"
          >
            <i class="bi bi-list-stars text-white"> Danh mục sách</i>
          </p>
          <a
            href="./category.html"
            class="list-group-item list-group-item-action"
            >Sách tiểu thuyết</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách tâm lý</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách chữa lành</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách phát triển bản thân</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách kinh doanh</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách khoa học</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách tự nhiên và môi trường</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Sách lịch sử</a
          >
        </div>
        <div class="blog_item mt-5">
          <h4>Bài viết gần đây</h4>
          <div class="blog_recent mt-4">
            <a href="#" class="row mb-4 text-decoration-none">
              <div class="col-4 float-start">
                <img class="w-100" src="./images/va-roi-nui-vong-1.jpg" alt="" />
              </div>
              <div class="col-8 text-black">
                <h6 class="text-capitalize align-items-center">
                 núi vọng
                </h6>
              </div>
            </a>
            <a href="./blogdetail.html" class="row mb-4 text-decoration-none">
              <div class="col-4 float-start">
                <img class="w-100" src="./images/uoc-vong.jpg" alt="" />
              </div>
              <div class="col-8 text-black">
                <h6 class="text-capitalize">Ước vọng</h6>
              </div>
            </a>
            <a href="#" class="row text-decoration-none">
              <div class="col-4 float-start">
                <img class="w-100" src="./images/tieuthuyt_sloc-home.jpg" alt="" />
              </div>
              <div class="col-8 text-black">
                <h6 class="text-capitalize">Tiểu thuyết</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-sm-9 border border-dark-subtle rounded-3 bg-white p-3"
      >
        <div class="row">
          <!-- Các mục sách mới -->
          <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
            <div class="blog_pic">
              <img
                class="w-100 h-100"
                src="./images/uoc-vong.jpg"
                alt=""
              />
            </div>
            <div class="blog_text my-4">
              <ul class="mb-2 ps-0 text-secondary">
                <li class="d-inline-block">
                  <i class="bi bi-calendar-check"></i> Tháng ,2024
                </li>
                <li class="d-inline-block ms-2">
                  <i class="bi bi-chat-dots"></i> 5
                </li>
              </ul>
              <h5>
                <a class="text-decoration-none text-black" href="#"
                  >Sách Tâm Lý: Hướng dẫn giải quyết stress</a
                >
              </h5>
              <p class="text-secondary">
                Hướng dẫn các phương pháp giảm stress và tăng cường sức khỏe
                tinh thần.
              </p>
              <a href="#" class="btn btn-outline-dark">Đọc tiếp</a>
            </div>
          </div>
          <!-- Các mục sách khác -->
          <!-- Vui lòng thêm các mục sách khác tại đây -->
        </div>
      </div>
    </div>
  </div>
</main>
